{{> header}}

  <body>
     <div class="container" id="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <a href="#menu-left" id="menu-toggle"><i class="icon ion-navicon"></i></a>
          <p class="navbar-brand">busMSN</p>
        </div>
      </div> <!-- end navbar -->

      <div id="loading"><i class="icon ion-ios7-reloading"></i></div>

      <div class="row arrivalRow">
        <!--all arrival related content goes here -->
      </div>
    </div>

{{> footer}}