{{> header}}

  <body>

    <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
        <div class="snap-drawer-left-content" id="sidebarContent">
          <!-- Stop list goes here -->
        </div>
      </div>
      <div class="snap-drawer snap-drawer-right"></div>
    </div>

    <div class="container snap-content" id="content">
      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <div class="nav-toggle-container">
            <a href="#menu-left" id="menu-toggle"><i class="icon ion-navicon"></i></a>
          </div>
          <div class="navbar-brand-container">
            <p class="navbar-brand">busMSN</p>
            <div id="refreshContainer">
              <i class="icon ion-ios7-refresh-empty" id="refresh"></i>
              <p id="countdown"></p>
            </div>
          </div>
        </div>
      </div>

      <div id="loading"><i class="icon ion-ios7-reloading"></i></div>

      <div class="row arrivalRow">
        <!--all arrival related content goes here -->
      </div>

      <div id="footer">
        <div class="container">
          <div class="footer-content">
            <p class="text-muted author">
              <a href="/">busMSN</a>
              <a href="http://creativecommons.org/about/cc0">CC0</a>
            </p>
            <a href="https://github.com/jczaplew/busMSN" class="text-muted"><i class="icon ion-social-github"></i></a>
          </div>
        </div>
      </div>
    </div>

{{> footer}}