<!DOCTYPE html>
<html lang="en">
  <head>
    <title>busMSN</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="John J Czaplewski"/>

    <link rel="shortcut icon" sizes="196x196" href="img/icon-android.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon-ipad.png">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <link rel="stylesheet" href="css/root.css" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46265769-1', 'busmsn.com');
      ga('send', 'pageview');
    </script>

  </head>

  <body>
    <div id="wrap">
      <div class="container">

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
            <div class="navbar-brand-container">
              <p class="navbar-brand">busMSN</p>
            </div>
          </div>
        </div> <!-- end navbar -->

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4 get-started">
              <h1>Get Started</h1>
              <ol class="get-started-list">
                <li>Click the stops on the map you use the most</li>
                <li>When you are done, click "Create bookmark"</li>
                <li>Bookmark the page on all your devices</li>
              </ol>

              <div class="selected-stops-div visible-sm visible-md visible-lg">
                <h3 class="selected-stops-title">Selected stops</h3>
                <table class="table">
                  <tbody class="selected-stops"></tbody>
                </table>
              </div>
              
              <button class="btn btn-primary bookmark">Create bookmark</button>
            </div>
            <div class="col-sm-8">
              <div id="loadingRoot"><i class="icon ion-ios7-reloading"></i></div>
              <div id="map"></div>

              <div class="selected-stops-div visible-xs">
                <h3 class="selected-stops-title">Selected stops</h3>
                <table class="table">
                  <tbody class="selected-stops"></tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      

        <div class="row">
          <div class="col-sm-12 visible-sm visible-md visible-lg">
            <div class="col-sm-9">
              <p>busMSN builds on the premise of using <a href="http://api.smsmybus.com/">open data</a> to simplify public transit for all, regardless of which platform you choose.</p>
            </div>
            <div class="col-sm-3 wwh"><h1>What</h1></div>
          </div>
          <div class="col-sm-12 visible-xs">
            <div class="col-sm-3 wwh"><h1>What</h1></div>
            <div class="col-sm-9">
              <p>busMSN builds on the premise of using <a href="http://api.smsmybus.com/">open data</a> to simplify public transit for all, regardless of which platform you choose.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-3 wwh"><h1>Why</h1></div>
            <div class="col-sm-9">
              <p>Most people use the same handful of stops every day, and know which buses to take, making directions and a map-based interface unnecessary. With busMSN, stops only need to be selected once before the most relevant data is delivered to you in a single click.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 visible-sm visible-md visible-lg">
            <div class="col-sm-9">
              <p>The premise is simple: select the stops you use on a regular basis (for example, work and home) and bookmark the resultant page on all of your devices. When you open busMSN, the closest stop to your current location will be displayed with live bus arrival information.</p>
            </div>
            <div class="col-sm-3 wwh"><h1>How</h1></div>
          </div>
          <div class="col-sm-12 visible-xs">
            <div class="col-sm-3 wwh"><h1>How</h1></div>
            <div class="col-sm-9">
              <p>The premise is simple: select the stops you use on a regular basis (for example, work and home) and bookmark the resultant page on all of your devices. When you open busMSN, the closest stop to your current location will be displayed with live bus arrival information.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="container">
          <div class="footer-content">
            <p class="text-muted author">
              <a href="/">busMSN</a>
              <a href="http://creativecommons.org/about/cc0">CC0</a>
            </p>
            <a href="https://github.com/jczaplew/busMSN" class="text-muted"><i class="icon ion-social-github"></i></a>
          </div>
        </div>
      </div>

    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>window.d3 || document.write('<script src="js/lib/d3.v3.min.js">\x3C/script>')</script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script>window.L || document.write('<script src="js/lib/leaflet.js">\x3C/script>')</script>

    <script src="js/root.min.js"></script>
  </body>
</html>