<div class="col-sm-12 primaryContent">
  <h3 class="arrival" id="firstRoute">
    Route {{firstBus.r}} <br><small>{{firstBus.d}}</small>
  </h3>
  <h1 class="arrival" id="first">
    {{firstBus.u}}
  </h1>
  <p id="minutes">minutes</p>
</div>

<div class="col-sm-4 col-sm-offset-4 primaryContent" id="nextArrivals">
  <table class="table">
    <tbody id="nextArrivalTable">
      {{#arrivals}}
        <tr>
          <td>Route {{r}} <br><small>{{d}}</small></td>
          <td>{{u}} minutes</td>
        </tr>
      {{/arrivals}}
    </tbody>
  </table>
</div>
