<div class="col-sm-12 primaryContent">
  <h3 class="arrival" id="firstRoute">
    Route {{firstBus.routeID}} <br><small>{{firstBus.destination}}</small>
  </h3>
  <h1 class="arrival" id="first">
    {{firstBus.minutes}}
  </h1>
  <p id="minutes">minutes</p>
</div>

<div class="col-sm-4 col-sm-offset-4 primaryContent" id="nextArrivals">
  <table class="table">
    <tbody id="nextArrivalTable">
      {{#arrivals.stop.route}}
        <tr>
          <td>Route {{routeID}} <br><small>{{destination}}</small></td>
          <td>{{minutes}} minutes</td>
        </tr>
      {{/arrivals.stop.route}}
    </tbody>
  </table>
</div>