<div id="firstArrivalHolder">
  <div class="col-sm-12 primaryContent">
    <h3 class="arrival" id="firstRoute">
      Route {{firstBus.routeID}} <br><small>{{firstBus.destination}}</small>
    </h3>
    <h1 class="arrival" id="first">
      {{firstBus.minutes}}
    </h1>
    <p id="minutes">minutes</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4 primaryContent" id="nextArrivals">
    <table class="table">
      <tbody id="nextArrivalTable">
        {{#closestStop.routes}}
          <tr>
            <td>Route {{routeID}} <br><small>{{destination}}</small></td>
            <td>{{minutes}} minutes</td>
          </tr>
        {{/closestStop.routes}}
      </tbody>
    </table>
  </div>
</div>

<ul id="selectStops">
  {{#selectStops}}
  <li><a href="#" class="stop" id="{{id}}" data-lat="{{lat}}" data-lng="{{lng}}">{{name}}</a></li>
  {{/selectStops}}
</ul>

<div id="closestStop" style="display:none;" data-lat="{{closestStop.lat}}" data-lng="{{closestStop.lng}}">{{closestStop.name}}</div>